<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{title}}</h1>
    <p>Hei. Dette er et eksempel på automatisk utrulling av kode drevet av en innsjekk "commit" av endret kode i github.Kode rulles automatisk ut til testmiljø "dev" og etter godkjenning også til produksjon.</p>
    <p>This is version 2.1.0 of this web application.</p>
    <ul class="actions">
      <li><a href="/who" class="button scrolly">Learn more</a></li>
    </ul>
  </div>
</section>
